@import url(https://db.onlinewebfonts.com/c/0209bfe594ed24b75ee2aac06529e4f9?family=Neue+Haas+Grotesk+Display+Pro+75+Bold);
@font-face {
    font-family: "NHG";
    src: url("https://db.onlinewebfonts.com/t/0209bfe594ed24b75ee2aac06529e4f9.eot");
    src: url("https://db.onlinewebfonts.com/t/0209bfe594ed24b75ee2aac06529e4f9.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/0209bfe594ed24b75ee2aac06529e4f9.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/0209bfe594ed24b75ee2aac06529e4f9.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/0209bfe594ed24b75ee2aac06529e4f9.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/0209bfe594ed24b75ee2aac06529e4f9.svg#Neue Haas Grotesk Display Pro 75 Bold")format("svg");
}

body {
    font-family: NHG;
    color: #0073ff;
}

hr {
    border: 2px solid #0073ff;
}

p {
    line-height: 1.5;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
.center-caption {
    display: block;
    text-align: center;
    font-style: italic;
    margin-top: 0.5em;
}

.grid-image { width: 300px; height: auto; display: block; }
.grid-caption { text-align: left; display: block; }
table { width: 100%; border: none; }
td { padding: 10px; text-align: left; }