/* FONTS */
@font-face {
    font-family: aero;
    src: url('https://files.catbox.moe/vl3zy3.ttf');
}

@font-face {
    font-family: pixel;
    src: url('https://cinni.net/fonts/basiic.ttf');
}

/* FORMATS */
h1{
    font-family: aero;
    background: -webkit-linear-gradient(#48aaff, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.01rem;
    -webkit-text-stroke-color: #2979bf;
    font-size: 6rem;
}

img{
    filter: sepia(100%) saturate(300%) brightness(85%) hue-rotate(175deg);
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-rendering: -webkit-optimize-contrast;
    z-index: 99;
}

body {
	background: linear-gradient(45deg, #ffffff, #a5d5ff, #ecfaff, #d0f6ff);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
    text-align: center;
    color: white;
    font-family: pixel;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


/* CLASS */
.row {
    display: flex;
}

.column {
flex: 50%;
}

/* ID */
#cd{
    z-index: -1;
    position: absolute;
    top: -4rem;
    height: 24rem;
    width: auto;
    right: -5rem;
    animation: rotation 10s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}

/* CRT */
.crt::before {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 40%, rgba(0, 0, 0, 0.25) 40%), linear-gradient(90deg, rgba(255, 0, 0, 0.02), rgba(0, 255, 0, 0.01), rgba(0, 0, 255, 0.02));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
}


/* SPINNING TEXT */
#container {
    margin: 0%;
}

#circle {
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
    z-index: -1;
}

#circle text {
    font-family: aero;
    font-size: 0.4rem;
    
}

#circle svg { position: absolute; left: 0; top: 0; width: 100%; height: 540px;

  -webkit-animation-name: rotate;
     -moz-animation-name: rotate;
      -ms-animation-name: rotate;
       -o-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 5s;
     -moz-animation-duration: 5s;
      -ms-animation-duration: 5s;
       -o-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
       -o-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
     -moz-animation-timing-function: linear;
      -ms-animation-timing-function: linear;
       -o-animation-timing-function: linear;
          animation-timing-function: linear;

}

@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(360deg); }
    to { -webkit-transform: rotate(0); }
}
@-moz-keyframes rotate {
    from { -moz-transform: rotate(360deg); }
    to { -moz-transform: rotate(0); }
}
@-ms-keyframes rotate {
    from { -ms-transform: rotate(360deg); }
    to { -ms-transform: rotate(0); }
}
@-o-keyframes rotate {
    from { -o-transform: rotate(360deg); }
    to { -o-transform: rotate(0); }
}
@keyframes rotate {
    from { transform: rotate(360deg); }
    to { transform: rotate(0); }
}

