@font-face {
    font-family: utdr;
    src: url('https://files.catbox.moe/j5vlj7.otf');
}

body {
    text-align: center;
    margin: 5rem;
    background-color: black;
}

.stage-section {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    border-style: solid;
    border-color: white;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('https://files.catbox.moe/ly99vy.gif');
    background-position: center;
    z-index: 1;
    background-size: cover;
}

.banner {
    position: absolute;
    width: 25rem;
    height: auto;
    bottom: 300px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stage-platform {
    position: absolute;
    width: 100%;
    height: 200px;
    bottom: 0;
    left: 0;
    z-index: 2;
}


.audience {
    position: absolute;
    width: 200rem;
    height: 200px;
    bottom: 0;
    z-index: 3;
    text-align: center;
    background: url('https://files.catbox.moe/dpygdy.gif');
}

#character {
    position: absolute;
    bottom: 150px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
    animation: squashStretch 0.4s ease-in-out infinite alternate;
    transform-origin: bottom left;
    height: 18rem;
    width: auto;
}

@keyframes squashStretch {
    0% {
        transform: translateX(-50%) scale(1.02, 0.98) rotate(-1deg);
    }

    50% {
        transform: translateX(-50%) scale(0.98, 1.02) rotate(0deg);
    }

    100% {
        transform: translateX(-50%) scale(1.02, 0.98) rotate(1deg);
    }
}

/* Dialogue Container - Positions below stage */
.dialogue-container {
    position: relative;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.dialogue-box {
    background-color: rgba(0, 0, 0, 0.8);
    border: 4px solid white;
    border-radius: 8px;
    padding: 15px;
    width: 90%;
    color: white;
    font-family: utdr;
    font-size: 25px;
    min-height: 60px;
    height: 20%;
    cursor: pointer;
    text-align: left;
    line-height: normal - 5px;
}

.inline-gif {
    height: 3em;
    vertical-align: middle;
    margin: 0 1px;
    display: inline-block;
    animation: gifBounce 0.6s infinite alternate;
}

@keyframes gifBounce {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-3px);
    }
}