---
layout: layouts/default.njk
title: Resources
---

<h1 id="top">CONSTANTLY UPDATING!</h1>
<p><em>Recent updates: updating list with links from <a href="https://discourse.32bit.cafe/t/resources-list-for-the-personal-web/49">this masterlist</a></em></p>

<p>Because I like hoarding things, I like hoarding links, too. Hope you find them useful. Here's a big fat archive of resources.</p>

<p><strong>Important note: Names with an asterisk (*) mean that the main webpage has flashing images / bright colours! Please let me know if I've missed any. I'd also appreciate if you let me know of any broken links.</strong></p>

<h2>Disclaimer!!</h2>
<p>The links on this page are provided for their utility and informational value. Inclusion here does not imply endorsement of all content, views, or affiliations associated with these sources. As always, I encourage critical thinking and independent verification. &lt;3 (Pretty sure it's obvious, but I need to cover all my bases)</p>

<p><em>(Go back <a href="/home/main/">home?</a>)</em></p>

<h2>INDEX</h2>
<ul>
  <li><a href="#design">Design &amp; Web-building</a></li>
  <li><a href="#js">Javascript</a></li>
  <li><a href="#host">Web Servers &amp; Hosting</a></li>
  <li><a href="#graphics">Graphics</a></li>
  <li><a href="#fonts">Fonts</a></li>
  <li><a href="#libraries">Libraries</a></li>
  <li><a href="#snippets">Code Snippets</a></li>
  <li><a href="#inspo">Web Inspo</a></li>
  <li><a href="#rc">Rentry / Carrds</a></li>
  <li><a href="#gen">Text / Graphics Generators</a></li>
  <li><a href="#art">Art</a></li>
  <li><a href="#audio">Audio</a></li>
  <li><a href="#others">Other useful websites</a></li>
  <li><a href="#learn">Learning</a></li>
  <li><a href="#fun">Fun websites</a></li>
  <li><a href="#archives">Archives &amp; Lists</a></li>
</ul>

<h1 id="design">DESIGN &amp; WEB BUILDING</h1>
{%- include "design_table.njk" -%}
<p><a href="#top">↑ Top</a></p>

<h1 id="js">JAVASCRIPT</h1>
{%- include "js_table.njk" -%}
<p><a href="#top">↑ Top</a></p>

<h1 id="host">WEB SERVERS &amp; HOSTING</h1>
{%- include "host_table.njk" -%}
<p><a href="#top">↑ Top</a></p>

<h1 id="graphics">GRAPHICS</h1>
{%- include "graphics_table.njk" -%}
<p><a href="#top">↑ Top</a></p>

<h1 id="fonts">FONTS</h1>
<p>If you'd like to visit my font hoard, <a href="/home/resources-hoards/fonts/">enter here</a>!</p>
{%- include "fonts_table.njk" -%}
<p><a href="#top">↑ Top</a></p>

<h1 id="libraries">LIBRARIES</h1>
{%- include "libraries_table.njk" -%}
<p><a href="#top">↑ Top</a></p>

<h1 id="snippets">CODE SNIPPETS</h1>
{%- include "snippets_table.njk" -%}
<p><a href="#top">↑ Top</a></p>

<h1 id="inspo">WEB INSPO / OTHER WEB NEIGHBOURS</h1>
{%- include "inspo_table.njk" -%}
<p><a href="#top">↑ Top</a></p>

<h1 id="rc">RENTRY / CARRDS</h1>
{%- include "rc_table.njk" -%}
<p><a href="#top">↑ Top</a></p>

<h1 id="gen">TEXT / GRAPHICS GENERATORS</h1>
{%- include "generators_table.njk" -%}
<p><a href="#top">↑ Top</a></p>

<h1 id="art">ART</h1>
{%- include "art_table.njk" -%}
<p><a href="#top">↑ Top</a></p>

<h1 id="audio">AUDIO / MUSIC</h1>
{%- include "audio_table.njk" -%}
<p><a href="#top">↑ Top</a></p>

<h1 id="others">OTHER USEFUL WEBSITES</h1>
{%- include "others_table.njk" -%}
<p><a href="#top">↑ Top</a></p>

<h1 id="learn">LEARNING</h1>
{%- include "learn_table.njk" -%}
<p><a href="#top">↑ Top</a></p>

<h1 id="fun">FUN / MISC WEBSITES</h1>
{%- include "fun_table.njk" -%}
<p><a href="#top">↑ Top</a></p>

<h1 id="archives">ARCHIVES &amp; LISTS</h1>
<p><em>Some related to my personal interests.</em></p>
{%- include "archives_table.njk" -%}
<p><a href="#top">↑ Top</a></p>

<p style="color: white">"Herro? Hibachi benihana teriyaki"</p>