<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ pagetitle | default('THE 4TH DIMENSION') }}</title>
  <link rel="icon" type="image/x-icon" href="{{ icon }}">
  <link rel="stylesheet" href="{{ cssUrl }}">
  <style>
    body {
      background-image: url('{{ backgroundUrl }}');
    }
  </style>
  <script src="/assets/autoplay.js"></script>
</head>

<body>

    <audio autoplay loop>
        <source src="{{ backgroundMusic }}">
    </audio>

    {{ content | safe }}

</body>

</html>